h1 {
  margin: 0;
}

header {
  font-size: 48px;
  font-family: Roboto;
  color: #32A9FF;
  background-color: #67786A;
  height: 131px;
  position: relative;
}

header h1 {
  position: absolute;
  display: inline-block;
  left: 252px;
  top: 40px;
  line-height: 56px;
}

header h1 span {
  color: white;
}