* {
  box-sizing: border-box;
}

.task {
  margin: 0 auto;
  width: 716px;
  align-items: center;
  font-size: 16px;
}

ul.btns {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
}

ul.btns li {
  display: inline-block;
  margin-left: 12px;
}

.task button {
  margin-top: 20px;
  width: 80px;
  height: 40px;
  background-color: #32A9FF;
  border-radius: 7px;
  color: white;
  font-size: 16px;
}

h1 {
  margin: 0;
}

header {
  font-size: 48px;
  font-family: Roboto;
  color: #32A9FF;
  background-color: #67786A;
  height: 131px;
  position: relative;
}

header h1 {
  position: absolute;
  display: inline-block;
  left: 252px;
  top: 40px;
  line-height: 56px;
}

header h1 span {
  color: white;
}